* {
  box-sizing: border-box;
}

main {
  height: 80vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("./media/utility/background.jpg");
  background-size: cover;
}

footer {
  font-size: 0.7em;
}

footer a {
  color: rgb(241, 210, 173);
  text-decoration: none;
}

footer a:hover {
  color: rgb(244, 171, 81);
}
